---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="flex min-h-screen flex-col items-center justify-center pt-28 text-center sm:pt-36"
  >
    <div class="space-y-5">
      <h1 class="text-5xl font-bold tracking-tight text-red-500 sm:text-6xl">
        $ 404
      </h1>
      <p class="text-secondary text-lg sm:text-xl">
        Oops! The page you're looking for doesn't exist.
      </p>
      <p class="text-secondary-dark text-sm sm:text-base">cd /home</p>

      <a
        href="/"
        class="border-primary text-primary hover:bg-primary mt-6 inline-block border px-5 py-2 font-mono text-sm transition hover:text-black sm:text-base"
      >
        Return to Home
      </a>
    </div>
  </main>
</Layout>
