<div
  id="loading-screen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black font-mono"
>
  <div class="text-center">
    <div class="mb-4 text-xl text-green-400">
      <span class="text-white">$ </span>
      <span id="typewriter-text"></span>
      <span id="dots" class="animate-pulse">...</span>
    </div>
  </div>
</div>
